@keyframes explosion {
   0% { background-position: -1px -1px; }
   6.25% { background-position: -131px -1px; }
   12.5% { background-position: -261px -1px; }
   18.75% { background-position: -391px -1px; }
   25% { background-position: -521px -1px; }
   31.25% { background-position: -651px -1px; }
   37.5% { background-position: -781px -1px; }
   43.75% { background-position: -911px -1px; }
   50% { background-position: -1041px -1px; }
   56.25% { background-position: -1171px -1px; }
   62.5% { background-position: -1301px -1px; }
   68.75% { background-position: -1431px -1px; }
   75% { background-position: -1561px -1px; }
   81.25% { background-position: -1691px -1px; }
   87.5% { background-position: -1821px -1px; }
   93.75% { background-position: -1821px -1px; }
   100% { background-position: -1821px -1px; }
 }
.sprite {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(ee.png);}

.explosion_01 {width:128px; height:128px; background-position: -1px -1px}
.explosion_02 {width:128px; height:128px; background-position: -1px -131px}
.explosion_03 {width:128px; height:128px; background-position: -131px -1px}
.explosion_04 {width:128px; height:128px; background-position: -1px -261px}
.explosion_05 {width:128px; height:128px; background-position: -131px -131px}
.explosion_06 {width:128px; height:128px; background-position: -261px -1px}
.explosion_07 {width:128px; height:128px; background-position: -131px -261px}
.explosion_08 {width:128px; height:128px; background-position: -261px -131px}
.explosion_09 {width:128px; height:128px; background-position: -391px -1px}
.explosion_10 {width:128px; height:128px; background-position: -261px -261px}
.explosion_11 {width:128px; height:128px; background-position: -391px -131px}
.explosion_12 {width:128px; height:128px; background-position: -521px -1px}
.explosion_13 {width:128px; height:128px; background-position: -391px -261px}
.explosion_14 {width:128px; height:128px; background-position: -521px -131px}
.explosion_15 {width:128px; height:128px; background-position: -651px -1px}
.explosion_16 {width:128px; height:128px; background-position: -521px -261px}
